[submodule "SimpleGTest/googletest"]
	path = SimpleGTest/googletest
	url = https://github.com/google/googletest.git
[submodule "OdrViolation/googletest"]
	path = OdrViolation/googletest
	url = https://github.com/google/googletest.git
[submodule "GTestMatcher/googletest"]
	path = GTestMatcher/googletest
	url = https://github.com/google/googletest.git
